html{
    scroll-behavior:smooth;
}
body{
    font-family: Arial, sans-serif;
    margin:0;
    text-align:center;
}

header{
    background-color:brown;
    color:white;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}
nav a:hover{
    color: #ffd700;
}

section{
    padding:50px;
    background-color:beige;
}

button{
    background-color:brown;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}
button:hover{
    background-color:#5c2e00;
}
.menu-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px;
    width:220px;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}
footer{
    background:brown;
    color:white;
    padding:20px;
}
input, textarea{
    width:300px;
    padding:10px;
}
@media(max-width:768px){

    .menu-container{
        flex-direction:column;
        align-items:center;
    }

    input,
    textarea{
        width:90%;
    }

}
.card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}
.card{
    transition:0.3s;
}
.card:hover{
    transform:translateY(-10px);
}
.hero{
    padding:100px 20px;
}
.hero{
    background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("images/coffeebg.jpg");

    background-size:cover;
    background-position:center;
    color:white;
    padding:120px 20px;
}
header{
    background-color:brown;
    color:white;
    padding:20px;
    position:sticky;
    top:0;
    z-index:1000;
}
input,
textarea{
    display:block;
    margin:10px auto;
}
section{
    padding:80px 20px;
}